.checkbox_count{
	visibility: hidden;
}

.checkbox-img{
	width: 48px;
	height: 48px;
	margin-top: 5px;
	
	opacity: 0.3;
}

.checkbox-img:hover{
	opacity: 0.6;	
}

.current-link{
  width: 100%;
}

.link-li{
	background-color: black;
}


.checkbox_count:checked + .checkbox-img {
opacity: 1;
}

.box_class_for_seat	{
	width: fit-content;
	background: #edfaff;
	border: 1px solid lightblue;
	border-radius: 15px 15px 0 0 ;
	display: none;
	padding:15px 0 30px 30px;
}

.demo-checkbox-img{
	display: inline;
	width: 30px;
	height: 30px;
	margin-top: 10px;
	margin-right: 10px;
}

.demo-available-seat{
	opacity: 0.3;
}
.demo-available-seat:hover{
	opacity: 0.6;
}
#bus-indication{
	display: none;
}
.choose-seat-logo{
	display: none;
}
.header-image{
	height: 50px;
	/*display: inline;*/
	float: left;
	margin-right:10px;
}
.footer{
	height: 40px;
	background-color: rgba(0,0,0,0);
	border :1px solid #e7e7e7;
	align-content: center;
	
 	width: 100%;
}
.footer-links{
	display: inline;
	margin-right: 20px;
	list-style-type:none
}
.footer-list{
	margin-top: 10px;
}
body{
	margin-bottom: 0;
}

.active-hover {
	background-color: #428bca;
	border: #428bca;
}

.active-hover a {
  color: white !important;
}
