<footer class="footer">
	<center><ul class="footer-list" >
		<li class="footer-links">
			<a href="https://www.facebook.com/jamir.manihar.35">
				<i class="fa fa-facebook" aria-hidden="true"></i>

			</a>
		</li>
		<li class="footer-links">
			<a href="#">
				<i class="fa fa-twitter" aria-hidden="true"></i>
			</a>
		</li>
		<li class="footer-links">
			<a href="https://www.instagram.com/er.zamir/">
				<i class="fa fa-instagram" aria-hidden="true"></i>
			</a>
		</li>
		<li class="footer-links">
			<a href="https://www.linkedin.com/in/zamirmanihar/">
				<i class="fa fa-linkedin" aria-hidden="true"></i>
			</a>
		</li>
		<li class="footer-links">
			<a href="#">
				<i class="fa fa-google-plus" aria-hidden="true"></i>
			</a>
		</li>
	</ul></center>
</footer>
	

